{{!--

login form handlebar template

--}}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <h1>Login</h1>
    <div id="error" class="error" hidden></div>
    {{#if hasErrors}}
        <div class="error">{{error}}</div>
    {{/if}}
    <form action="/login" id="signin-form" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <button id="submitButton" name="submitButton">Submit</button>
    </form>
    <div id="userloginerror" class="formerror" hidden></div>
    <a class="sign" href="/register">Click here to register!</a>
            <script src="../public/js/client_side_validation.js"></script>
</body>