{{!--

logout handlebar template

--}}

<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <p>You have successfully logged out.</p>
    <a class="logBack" href="/login">Click here to sign-in</a>
            <script src="../public/js/client_side_validation.js"></script>
</body>
